<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581472577790-ssppm2v3kdqabgq3s2urholtfrtino3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581472577790-ssppm2v3kdqabgq3s2urholtfrtino3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ2mOAgJSaDY-9yTRKe6oe62K4iuWktHU</string>
	<key>GCM_SENDER_ID</key>
	<string>581472577790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SkyStudent.SkyLi</string>
	<key>PROJECT_ID</key>
	<string>skyli-891eb</string>
	<key>STORAGE_BUCKET</key>
	<string>skyli-891eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581472577790:ios:d040d79453aa89c6011daf</string>
	<key>DATABASE_URL</key>
	<string>https://skyli-891eb.firebaseio.com</string>
</dict>
</plist>